*{    
    padding: 0; 
    font-family: 'Open Sans Condensed', sans-serif;  
    margin:0px;
}
body{
    background: #333333;      
    max-width: 1920px;
    margin:auto;
}


/*Блок шапки*/

.fixpanel{
    z-index: 1;
    position: fixed;    
}
.fixed-panel__other{
    z-index: 2;
    position: fixed;    
}
.fixed-panel__other__text{
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700; 
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;    
    color: #C4C4C4;
    transform: rotate(-90deg);
    display: flex;
    
    margin: 504px 60px 110px -50px;
}
.inst-ico{
    width:auto;
    height:auto;
    display: flex;
    margin: 40px 60px 0px 60px;
}
.inst-ico:hover{
    opacity: 0.7;
}
.facebook-ico{
    width:auto;
    height:auto;
    display: flex;
    margin: 40px 55px 0px 65px;
}
.facebook-ico:hover{
    opacity: 0.7;
}
.vk-ico{
    width:auto;
    height:auto;
    display: flex;
    margin: 40px 60px 0px 60px;
}
.vk-ico:hover{
    opacity: 0.7;
}
.youtube-ico{
    width:auto;
    height:auto;
    display: flex;
    margin: 40px 60px 0px 60px;
}
.youtube-ico:hover{
    opacity: 0.7;
}
.vert_line{
    width:auto;
    height:auto;
    display: flex;
    padding: 40px 70px 0px 70px;
}


.bol-theatre{
    z-index: -10;
    position: absolute;
    min-height: 1920px;
    min-height: 1045px;        
}


.first-screen__slider{
    z-index: -9;
    min-width: 370px;
    min-height: 570px;
    padding: 267px 480px 208px 1070px;
    position: absolute;
}
.first-screen__slider-container__1{
    z-index: 12;
    position: absolute;
    padding: 0 20px 80px 0;    
}
.first-screen__slider-container__2{
    z-index: 5;
    position: absolute;
    margin: 20px;       
}
.first-screen__slider-prev{    
    width: auto;
    height: auto;    
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700; 
    position: absolute;
    padding: 545px 262px 0px 0px;
    color: #C4C4C4;
    letter-spacing: 0.1em;
    font-size: 18px;
    display: flex;    
}
.first-screen__slider-prev:hover{
    opacity: 0.2;
}
.arrow-l{
    transform: rotate(180deg);
    padding-left: 25px;
    opacity: 0.7;
    width: 60px;   
}
.first-screen__slider-next{    
    width: auto;
    height: auto;    
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700; 
    position: absolute;
    padding: 545px 0px 0px 240px;
    color: #FFFF;
    letter-spacing: 0.1em;
    font-size: 18px;
    display: flex;
    flex-direction:row-reverse;    
}
.first-screen__slider-next:hover{
    opacity: 0.2;
}
.arrow-r{
    width: 60px;    
    padding-left: 25px;
}


.first-screen__text{
    position: absolute;
    padding: 384px 975px 365px 405px;
    width: 540px;
    height: 296px;       
    color: white;
    text-align: left;
    display: block;
}
.first-screen__text__title{
    position: absolute;
    width: 540px;
    height: 68px;
    font-size: 64px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;    
}
.text_t{
    font-size: 14px;
    width: 540px;
    height: 79px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;    
    line-height: 150%; 
    padding-top: 120px;  
    padding-bottom: 50px;         
}
.first-screen__text__button{
    border: none;
    position: absolute;
    width: 160px;
    height: 50px;
    background-color: #D1A954;     
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700;  
    letter-spacing: 0.1em; 
    text-align: center;
    font-size: 18px;
   
}
.first-screen__text__button:hover{
    opacity: 0.8;
}


a{    
    z-index: 8;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700;
    margin-right: 51px;
    line-height: 25px;
    letter-spacing: 0.1em;
    font-size: 18px;    
}
.menu{
    position: absolute;
    padding: 50px 405px 968px 405px; 
    width: 1110px;
    height: 27px;           
}
.menu__button__left{
    position: absolute;
    width: 824px;
    height: 25px;        
    display: flex;
    flex-direction: row;  
      
}
.menu__button__right{    
    padding-left: 916px;
    display: flex;     
    flex-wrap: wrap;
    position: absolute;
    width: 120px;
    height: 22px;   
    color: white; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 700;
    font-size: 16px;   
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
a:hover{
    opacity: 0.8;
}


/*Блок с информацией о Большом театре*/

.about{
    margin: auto;
    width: 1110px;
    height: 457px;
    padding-top: 1195px;
    padding-bottom: 150px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;  
}
.about__bottom{
    padding-top: 40px;
    display: flex;    
    flex-direction: row;      
}
.about__numbers{
    order: 2;
    margin: 0px 70px 20px 30px;    
}
.about__text{
    order: 1;       
}
.about__text_t{    
    padding-top: 40px;
    max-width: 445px;
    max-height: 210px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;    
    line-height: 150%;
    font-size: 14px;
}
.about-title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 65px;
    font-size: 48px;
}
.about__text__title{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;    
}
.photo__theatre{    
    order: 3;
    min-width: 350px;
    min-height: 292px;
}
.warning__text{
    color: #D1A954;    
}
.seats{
    padding-top: 40px;    
}
.num__of__seats{
    padding-top: 15px;  
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.theater{
    padding-top: 28px;
}
.old__theater{
    padding-top: 15px;  
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}


/*Блок с постановками*/

.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;   
     
}
.projects__text__title{    
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 48px;
    line-height: 65px;
    color: white;
    padding-bottom: 100px;
    align-self: center;
}
.prohects__slider{      
    padding-left: 150px;
    display: flex;    
    margin: 0px;
}
.projects__item:hover{
    opacity: 0.8;
}
.projects__item-active{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__b{
    border: none;
    border-radius: 50%;
    padding: 35px;
    position: absolute;
    background: #D1A954;
}
.search__b:hover{
    background: #b18e44;
}
.projects__text{
    height: 550px;
    width: 442px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 24px;
}
.name__of__projects{
    padding: 40px;
}
.date__of__projects{  
    /*TO DO*/
    transform: rotate(0deg);
    align-self:flex-start;      
    padding-bottom: 40px;
    padding-left: 40px;
    font-size: 18px;
}
